.title {
  color: rgb(92 88 88);
  font-family: monospace;
  text-align: center;
}
.title::after {
  content: '';
  display: block;
  width: 50px;
  height: 4px;
  background-color: #ffc107;
  margin: 10px auto 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 70px;
}
.card {
  width: calc(95% / 3); /* Adjust as needed */
}
.icon {
  display: inline;
}
.text {
  color: rgb(92 88 88);
  font-family: monospace;
}
